extends _layout/_layout.pug

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var title = 'Fluent.css - CSS library based on Microsoft Fluent Design'
  - var description = 'Fluent.css is a CSS library based on Microsoft Fluent Design.'

block content
  .section.section-hero.bg-gray
    #overview.grid-hero.container.grid-lg.text-center
      .docs-brand
        a.docs-logo(href='index.html')
          img(src='img/spectre-logo.svg' alt='Spectre.css CSS Framework')
          h2 SPECTRE
      h1 FLUENT.CSS
      h2
        | A CSS library based on Microsoft Fluent Design
      p
        a.btn.btn-primary.btn-lg(href='https://github.com/picturepan2/fluent.css' target='_blank') GitHub
      p.text-gray
        | Latest version: 
        span.version
  
  .section.section-ads.bg-gray
    include _layout/_ad-g.pug

  .section.section-features.bg-wallpaper.text-light.text-center
    .container.grid-lg
      h2 Acrylic
      .columns
        .column.col-8.col-mx-auto
          .tiles.d-flex
            .example-tile.acrylic
            .example-tile.acrylic.theme-dark

  .section.section-features.bg-dark.text-center
    .container.grid-lg
      h2 Reveal Focus (Dark)
      .columns
        .column.col-12
          .tiles.d-flex
            .example-tile.reveal-focus.theme-dark
            .example-tile.reveal-focus.theme-dark
            .example-tile.reveal-focus.theme-dark
            .example-tile.reveal-focus.theme-dark

  .section.section-features.bg-light.text-center
    .container.grid-lg
      h2 Reveal Focus (Light)
      .columns
        .column.col-12
          .tiles.d-flex
            .example-tile.reveal-focus
            .example-tile.reveal-focus
            .example-tile.reveal-focus
            .example-tile.reveal-focus
          

  .section.section-ads.bg-gray
    include _layout/_ad-c.pug

  footer.section.section-footer
    include _layout/_footer.pug